POSTGRES_USER=title
POSTGRES_PASSWORD=title
POSTGRES_DB=ledger
MONGO_INITDB_DATABASE=cases
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio12345
MINIO_BUCKET=documents
OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m
